.home{
    position: relative;
    left: 15%;
    width: 60em;
    z-index: 1;
    margin-top: 3% ;
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.container{
    display: flex;
}
.players{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

 