.card{
    max-width: 38em;
    min-height: 19vh;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
    margin: 1%;
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    gap: 1%;
    color: white;
}

.name{
    text-align: center;
}
.button{
    width: 60%;
    cursor: pointer;
    background-color: darkgreen;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 20%;
    padding: 5%;
}


