.description{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
}
.description p{
    text-align: center;
}
.card{
    display: grid;
    backdrop-filter: blur(5px);
    border: 1px solid black;
    width: 15vw;
    height: 30vh;
    align-items: center;
    justify-content: center;
    margin: 1em;
}
.card h5{
    text-align: center;
}
.noName{
    visibility: hidden;
}
.container{
    z-index: 3;
}
